NEXT_PUBLIC_INVENTORY_API_URL=https://backend-web-production-6fe0.up.railway.app
NEXT_PUBLIC_SUPABASE_URL=https://eqozcixghcwsdqnmdswj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb3pjaXhnaGN3c2Rxbm1kc3dqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMDk5NTUsImV4cCI6MjA5OTg4NTk1NX0.KGBxlJ-lsWNUH7vqOMladd5RC61xG03_mnYVARQ2HZE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxb3pjaXhnaGN3c2Rxbm1kc3dqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDMwOTk1NSwiZXhwIjoyMDk5ODg1OTU1fQ.ttBKSQ1OBLLW_EFi1YR10Y90VcV5DesAyvPgeHU_UJA
DIKLAT_SESSION_SECRET=eyJyb2xlIjoiZGlrbGF0IiwiZXhwIjoxNzg1MDQ3MjExNDE2fQ.6d068875b6b3b386ccb52a2db1e98786e600958b4b20d7043bdcb9506b92dc7b
GSHEET_ABSENSI_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbya-_BTdqa5pgcyn9AU4Up-LDHi25vnGOgNxTvTFULyGXJ8vio31GAMxSKZLjAQoikQEw/exec
GSHEET_KEUANGAN_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwTtAd2a8gCExLov7jrs2KYqhJFDU_ryFd_KQ6aBvl51MVTymzGLP9M9WjgvmJisO5XVg/exec
GSHEET_KAS_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwTtAd2a8gCExLov7jrs2KYqhJFDU_ryFd_KQ6aBvl51MVTymzGLP9M9WjgvmJisO5XVg/exec